.nav{
    grid-area: n;
    background-color: brown;
}

.list__item{
    list-style: none;
}

.link{
    text-decoration: none;
    color: #cbbdbd;
}

.link:hover{
    color: #fff;
    text-decoration: none;
}

.link.activeLink{
    color: #fff;
}