.nav{
    grid-area: n;
    background-color: rgba(255,228,196,0.15);
    max-height: 200px;
    border-radius: 5px;
}

.list__item{
    list-style: none;
    margin: 15px 0;
}

.link{
    text-decoration: none;
    color: #817070;
}

.link:hover{
    color: #000000;
    text-decoration: none;
}

.link.activeLink{
    color: #000000;
}